@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img id="hero-image" src="~/lib/sacrement.jpg" />
    <div class="image-content">
        <h1 class="display-4"> Ward Sacrament Planner</h1>
        <p>View previous plans and plan for your ward <a href="/Meetings/Index">here</a>.</p>
    </div>
</div>
